:root {
  background-color: #111827;
  color: white;
  font-family: system-ui;
}

body {
  margin: 0;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th, td {
  padding: 8px;
  border-bottom: 1px solid #374151;
}
th {
  background: #111827;
}
